h1 {
    text-align: center;
    background-color: #456;
    color: #fff;
    margin: 0 0 30px 0;
    padding: 30px;
    font-size: 42px;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    background-color: rgba(192,198,238, 0.6);
    padding: 16px 6px;
    align-items: center;
    box-shadow: 0 0 6px rgba(0,0,0, 0.3);
}

input, button {
    width: 90%;
    height: 30px;
    margin-bottom: 20px;
    padding: 6px;
    font-size: 24px;
    text-align: center;
}

#calcBtn {
    width: 94%;
    height: 48px;
    border: none;
    background-color: #456;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0,0,0, 0.3);
    transition: all 0.3s ease-in-out;
}
#calcBtn:hover {
    background-color: rgb(26,214,5);
    color: #000;
}

#resultBox {
    width: 90%;
    height: 0px;
    transition: all 0.7s ease-in;
}
#resultBox.show {
    height: 250px;
}

h2 {
    display: flex;
    align-items: center;
    font-family: Arial;
    opacity: 0;
    transition: all 0.3s ease-in-out 0.6s;
}

#resultBox.show h2 {
    opacity: 1;
}


h2 span {
    flex: 0.5;
    font-size: 18px;
    text-align: right;
}
h2 span:nth-child(even) {
    /* flex: 0.7; */
    font-size: 24px;
    text-align: left;
    margin-left: 16px;
    color: #f17203;
}